<div class="box">
	<div class="clearsmall"></div>

	<div class="headertext">About Strong for Life<span>why we do what we do</span></div>

	<p class="superletter blockquote">
		'We believe in being the right kind of intervention, providing a support network and community that delivers the benefits of strength training, improving movement competency, and nutrition coaching in order to give people the tools to build a better self, physically and emotionally.'
	</p>

	<p>Our aim at SFL is to provide the very best in strength and conditioning training in an intimate, stimulating and fun environment. We deliver a range of fitness methods, where all participants are valued and encouraged in their development. Whether young or old, fit or previously sedentary, we believe in fitness for all. We strive to instill a lifelong passion for fitness and emphasize community and family cohesion.
	</p>
	
	<p>SFL exists to create awareness and educate the public in the benefits of building a stronger body and moving better, alongside nutritional coaching that promotes better choices and habits for the long term health benefits.</p>
	
	<p>At SFL we truly believe strength is a beautiful necessity and we aim to build a community to deliver this message, so that as a nation fighting increasing levels of chronic illness, we are able to combat what is often an attitude, to just prescribe another pill, where better lifestyle choices, nutrition coaching and reeducating the body to move and be stronger would be the superior course of action.
		Quality strength training coupled with nutritional coaching can not only take care of any fitness goal from improving body composition to building your athletic potential, but more importantly we believe in building a stronger body that can move better massively increases your quality of life, whether picking up your grandchildren or wanting to improve speed for your sport or gain rapid fat loss. A stronger body is a better body.</p>
	
	<p class="blockquote">Sometimes life can get heavy, be Strong for Life</p>
	
	<span class="bold">Join our community.</span>
	<div class="clearsmall"></div>
</div>