<div class="clearsmall"></div>

<div class="headertext">About Strong for Life<span>what we do and how we do it</span></div>  

<p class="superletter blockquote">
	'We believe in being the right kind of intervention, providing a support network and community that delivers the benefits of strength training, improving movement competency, and nutrition coaching in order to give people the tools to build a better self, physically and emotionally.'
</p>

<div class="divider"></div>

<p class="dropcap">
	Our aim at SFL is to provide the very best in strength and conditioning training in an intimate, stimulating and fun environment. We deliver a range of fitness methods, where all participants are valued and encouraged in their development. Whether young or old, fit or previously sedentary, we believe in fitness for all. We strive to instill a lifelong passion for fitness and emphasize community and family cohesion.
</p>