<div class="box">
	<div class="clearsmall"></div>

	<div class="headertext">The Amazing 12 gallery</div>

	<div class="clearnospacing"></div>
	
	<h3>Take a look at some of the results of this amazing program</h3>

	<div class="container_12">
		<div class="grid_12_no_margin">
			<ul id="list" class="image-grid threecol portfolio-content">
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M1.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M1.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F1.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F1.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M2.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M2.jpg" alt="" />
					</a>
				</li>				
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F2.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F2.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M3.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M3.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F3.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F3.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M4.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M4.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F4.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F4.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M5.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M5.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F5.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F5.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M6.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M6.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F6.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F6.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M7.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M7.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F7.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F7.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M8.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M8.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F8.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F8.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/M9.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/M9.jpg" alt="" />
					</a>
				</li>
				<li data-id="1">
					<a href="/Resources/Images/A12Gallery/800px/F9.jpg" rel="prettyPhoto[a12]" title="Amazing 12 week body transformation">
						<img src="/Resources/Images/A12Gallery/300px/F9.jpg" alt="" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearnospacing"></div>
</div> 

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("a[rel^='prettyPhoto']").prettyPhoto();
	});
</script>

