<script src="/Resources/JS/lightbox.min.js"></script>
<link href="/Resources/css/lightbox.css" rel="stylesheet" />

<div class="box">
	<div class="clearsmall"></div>

	<div class="headertext">The Amazing 12 gallery</div>

	<div class="clearnospacing"></div>

	<div class="container_12">
		<div class="grid_12_no_margin">
			<ul id="list" class="image-grid threecol portfolio-content">
				<li data-id="1" data-type="cardio_fitness">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="Amazing 12"><img src="/Resources/Images/A12_300x300/03beastman-6ec83210c7.jpg" alt="" width="263" height="260" /></a>
					</div>
					<div class="text_box">
						<h4>Beast man</h4>
						<p>Check out this guy!</p>
					</div>
				</li>

				<li data-id="2" data-type="cardio_fitness">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="Amazing 12"><img src="/Resources/Images/A12_300x300/03beastman-6ec83210c7.jpg" alt="" width="263" height="260" /></a>
					</div>
					<div class="text_box">
						<h4>Beast man</h4>
						<p>Check out this guy!</p>
					</div>
				</li>

				<li data-id="3" data-type="cardio_fitness">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="Amazing 12"><img src="/Resources/Images/A12_300x300/03beastman-6ec83210c7.jpg" alt="" width="263" height="260" /></a>
					</div>
					<div class="text_box">
						<h4>Beast man</h4>
						<p>Check out this guy!</p>
					</div>
				</li>

			</ul>
		</div>
	</div>
	<div class="clearnospacing"></div>
</div> 
