@{
    ViewBag.Title = "We are strong for life";
}
<div class="homePageMainContainer">
	<div class="homePageMainPanelContent">
		welcome to the premier training facility in north east England
	</div>
	<div class="homePageMainContentPanelSignupButton">
		Sign up for a FREE consultation today!
	</div>
</div>

