

<div class="clearnospcaing"></div>

<!--Start Parallax-->
<div id="dim">

	<div id="layerslider">

		<div class="ls-layer" rel="slidedelay: 5000;">
			<img class="ls-bg" src="/Resources/Images/Photos/HomePage_Kettlebells.jpg" alt="layer">
			<p id="textpromotionlg">Bringing social</p>
			<p id="textpromotion">back to the heart of the community</p>
			<p id="text2header">We are... Strong for Life</p>
			<p id="text2">We believe in being the right kind of intervention, providing a support network and community that delivers the benefits of strength training, improving movement competency, and nutrition coaching in order to give people the tools to build a better self, physically and emotionally.</p>
			<a href="#" target="_self" class="button highlight action" id="button2">JOIN NOW!</a>
		</div>

		<div class="ls-layer" rel="slidedirection: right; slidedelay: 6000">
			<img class="ls-bg" src="/Resources/Images/Photos/HomePage_jammy.jpg" alt="layer">
			<p id="textpromotionlg">Gatesheads</p>
			<p id="textpromotion">Number one personal<br />training facility</p>
			<p id="text2header">OUR FITNESS APPROACH</p>
			<p id="text2">Our aim at SFL is to provide the very best in strength and conditioning training in an intimate, stimulating and fun environment. We deliver a range of fitness methods, where all participants are valued and encouraged in their development.</p>
			<a href="#" target="_self" class="button highlight action" id="button2">JOIN NOW!</a>
		</div>
		
		<div class="ls-layer" rel="slidedirection: right; slidedelay: 6000">
			<img class="ls-bg" src="/Resources/Images/Photos/HomePage_plates.jpg" alt="layer">
			<p id="text2header">ACHIEVE YOUR FITNESS GOALS!</p>
			<p id="text2"><br />Our 16 week small group start Up program, will teach a range of strength and movement exercises so you are able to train safely and effectively with us. The program is completely scalable to your starting level whether a novice or experienced fitness fanatic.</p>
			<a href="#" target="_self" class="button highlight action" id="button2">Contact us</a>
		</div>
		<div class="ls-layer" rel="slidedirection: right; slidedelay: 6000">
			<img class="ls-bg" src="/Resources/Images/logos/a12.jpg" width="1040" alt="layer">
			<p id="textpromotionlg">Hosts of</p>
			<p id="textpromotion">the Amazing 12<br />week physique</p>
			<p id="text2header">Who you were born to be..</p>
			<p id="text2">You owe it to yourself to reclaim the strong, healthy, athletic version of yourself. Take action and look to make a real change in your life in just 12 weeks, we will coach you the skills and knowledge to maintain for life. Aspire to reclaim your potential.</p>
			<a href="#" target="_self" class="button highlight action" id="button2">JOIN NOW!</a>
		</div>


		</div>

</div>
<!--End Start Parallax-->

<div class="clearnospacing"></div>

<!--Newsletter-->
<div class="newsletterbar">

	<div id="newsletter_wrap">

		<!-- Start Newsletter Left -->
		<div id="newsletter_left">

			<div id="newsletter_headline">Sign up for our newsletter</div>
			<div id="newsletter_sub">Receive exclusive promotions, <span class="bold color">free passes</span> for <span class="bold color">family and friends</span>, and links to our weekly ad!</div>

		</div>
		<!-- End Newsletter Left -->
		<!-- Start Newsletter Right -->
		<div id="newsletter_right">

		</div>
		<!-- End Newsletter Right -->

	</div>

</div>
<!--End Newsletter-->

<!--Start Box-->
<div class="box">

	<div class="clearsmall"></div>

	<div class="container_12">
		<div class="grid_12 nomargin">

			<div class="showbox nomargin boxpadding">
				<h3><img class="imageinset" src="/Resources/Images/Template/images/one.png" alt="" />STRENGTH TRAINING</h3>
				<p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect adipisscin elit proin vel lectus ut eta</p>
				<a href="#" target="_self" class="button minimal small">Read More</a>
			</div>

			<div class="showbox nomargin boxpadding">
				<h3><img class="imageinset" src="/Resources/Images/Template/images/two.png" alt="" />MOVING WELL?</h3>
				<p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect adipisscin elit proin vel lectus ut eta</p>
				<a href="#" target="_self" class="button minimal small">Read More</a>
			</div>

			<div class="showbox nomargin boxpadding">
				<h3><img class="imageinset" src="/Resources/Images/Template/images/three.png" alt="" />NUTRITION COACHING</h3>
				<p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect adipisscin elit proin vel lectus ut eta</p>
				<a href="#" target="_self" class="button minimal small">Read More</a>
			</div>

			<div class="showbox nomargin boxpadding">
				<h3><img class="imageinset" src="/Resources/Images/Template/images/four.png" alt="" />OUR CLIENTS SAY...</h3>
				<p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect adipisscin elit proin vel lectus ut eta</p>
				<a href="#" target="_self" class="button minimal small">Read More</a>
			</div>

		</div>
		<div class="clear"></div>
	</div>

</div>
<!--End Box-->


<!--Page Callout Section-->
<div class="calloutcontainer">
	<div class="text">Sometimes life can get heavy... </div>
	<div class="sub color">..be Strong for Life</div>
</div>
<!--End Page Callout Section--> 
