<div class="clearsmall"></div>

<div class="headertext">Services<span>why we do, what we do.</span></div>  

<p class="superletter blockquote">
	'At SFL we offer the benefits of strength and conditioning and the importance of striving for better movement quality and competence with an intelligent, systematic approach.'
</p>


<div id="container">
	<ul class="menu">
		<li id="one" class="active">121 Personal Training</li>
		<li id="two" class="">Small Group Personal Training</li>
		<li id="three" class="">Fitness classes</li>
		<li id="four" class="">Sports massage and injury rehabilitation management</li>
	</ul>
	<span class="clearnospacing"></span>
	<div class="content one" style="display: none;">
		<p>Personal Training which is strictly 1 on 1, you get total focus and attention on your training goals and lifestyle support. This is a fantastic option for the best personal results.</p>
		<p>Having Personal Training in Gateshead is a great choice for those who want customized programs to their individualized fitness goals, a custom nutrition plan and support, scheduling flexibility, and a dedicated fitness professional who will guide you through the entire journey towards your fitness goals.  We provide more than just workouts, we provide a program which will create lasting results which meet your expectations even if you’ve failed in the past. Your trainer will walk you through your customised plan and is only ever a phone call or email away for support and reassurance on your fitness plan. </p>
		<p>Unlike other fitness facilities you’re not just hiring just one personal trainer, you’re hiring a team of fitness professionals dedicated to your success.  We track your progress and keep updating your program to make sure you are achieving your goals.</p>
		<p>We spend a lot of time working with our clients on both the nutrition as well as the exercise components to achieve your goals. </p>
		<a href="#" class="button highlight medium">Contact us for your FREE consultation</a>
	</div>
	<div class="content two" style="display: none;">
		<p>We have no more than 6 clients to 1 or sometimes two instructors. However class sizes average 3-4. You benefit from having trainers know your individual training needs so we can tweak aspects of the group program to better suit you. All programming is taken care of you need just turn up and we will look after you from there. We will give you a steady stream of support with nutrition advice when devising your eating plan should you want one. This is a fantastic way to get great value for money and very cost effective way of having some benefits of a personal trainer and exercising in a motivating small group atmosphere.</p>
		<p>Our 16 week  small group start Up program, will teach a range of strength and movement exercises so you are able to train safely and effectively with us. The program is completely scalable to your starting level whether a novice or experienced fitness fanatic. You will not only progress throughout the program being capable of improving fitness and body composition but also learning to reeducate how your body should move, in turn improving strength levels and body wellness. </p>
		<p>You will learn valuable skills such as how to perform soft tissue techniques through foam roll, how to safely and effectively perform many exercises that challenge the body to push, pull, hinge, squat brace the core and rotate.</p>
		<p>All movements and exercises will challenge the whole body and all of its systems (muscles, cardiovascular, nervous system, coordination, proprioception among others) while utilising a lot of energy which equals huge calorie burn.</p>
		<p>These movements provide a base for improving human movement to ensure safe and effective exercise and maybe of more importance, for everyday tasks. This for us is where you get the biggest carry over. Being <em>Strong For Life</em>.</p>
		<a href="#" class="button highlight medium">Contact us for your FREE consultation</a>
	</div>
	<div class="content three" style="display: none;">
		<h5>Kettlebell</h5>
		<p>The 'kettlebell', or a 'girya', is a cast iron weight that looks like a cannonball with a handle. The kettlebell has been around for centuries.</p>
		<p>The shape of the kettlebell allows for unique positioning of the weight directly above your center of mass and allows you to keep your hand and wrists in neutral alignment, which enable for greater endurance and longevity in the core lifts (swings, clean and press, snatches), so that you can produce a much higher volume of exercise and thus greater conditioning and fitness. Kettlebells allow for greater range of motion in turn improving flexibility.</p>
		<p>As the center of mass on a kettlebell "swings", micro-muscle fibers are recruited to balance the kettlebell, recruiting more stabilizing musculature than would a dumbbell. Because more muscle groups are utilized in the swinging and movement of a kettlebell than during the lifting of dumbbells (particularly posterior chain and core muscles), a kettlebell workout is claimed to be more effective, and yields better results in less time. The ease of use flowing from different techniques creates a fun, total body workout which have proven to achieve results in half the time. Kettlebell training has been proven to burn up to 600 calories in 30 minutes!</p>
		<p>At Strong For Life we pride ourselves on coaching how to use this tool optimally and safely therefore accelerating your results. </p>

		<h5>Saturday Sweat Out</h5>
		<p>Saturday Sweat Out is a safe and effective high intensity conditioning session, no fluff just hard work, scalable for all ability levels. However we are not like many of the bootcamp crazed businesses out there who beast you into injury. At Evolutionary Fitness we will guide you on what level of intensity you are ready for and what movements are safe. This class is 45mins in duration.</p>
	</div>

	<div class="content four" style="display: block;">
		<p>At strong for life we have an in house clinic where we can deal with all your aches and pains and any injuries you may have.  We have two sports massage therapists who bring over 10 years experience.  We can assess and rehabilitate any injuries.</p>
		<p>If you’re serious about fitness, sports massage can be a great asset to your training, relieving muscle tension and improving mobility.</p>
		<p>Sports massage can also reduce over-use injuries and enhance muscle flexibility and joint mobility.  Soft Tissue Therapy is the management, manipulation and rehabilitation of soft tissues of the body including muscles, tendons and ligaments. It is applicable not just to sports people but to anybody wishing to guard against or recover from a soft tissue injury.  We offer 30, 60 and 90 minute treatments depending upon your needs.</p>
		<h5>Prices</h5>
		<div class="list5">
			<ul>
				<li>30 mins - £20</li>
				<li>60 mins - £35</li>
				<li>90 mins - £45</li>
			</ul>
		</div>
		
	</div>
</div>

<div class="clearsmall"></div>