<div class="box">
	<div class="headertext">TIMETABLE<span> what's on, when</span></div>
	
	<table id="regulartable">
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tbody>
			<tr>
				<td>Monday</td>
				<td>9:30am & 6pm - Small group personal training</td>
			</tr>
			<tr>
				<td class="regulartable-odd">Tuesday</td>
				<td class="regulartable-odd">9:30am & 5:30pm - Small group personal training</td>
			</tr>
			<tr>
				<td>Wednesday</td>
				<td>9.30am - Kettlebells, 6pm - Strength and Conditioning (A class to teach you basic lifting technique followed by a tough metabolic workout) </td>
			</tr>
			<tr>
				<td class="regulartable-odd">Thursday</td>
				<td class="regulartable-odd">9:30am & 5:30pm - Small group personal training</td>
			</tr>
			<tr>
				<td>Friday</td>
				<td>9:30am - Small group personal training, 6-7pm - Kettlebells</td>
			</tr>
			<tr>
				<td class="regulartable-odd">Saturday</td>
				<td class="regulartable-odd">9:15am - Saturday Sweat Out!</td>
			</tr>
			<tr>
				<td>Sunday</td>
				<td>Closed</td>
			</tr>
		</tbody>
	</table>
	

</div>
