<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
     <title>Strong for life</title>
	<link href="\Resources\CSS\layout.css" rel="stylesheet" type="text/css"/>
</head>
	<body>
		<div class="header">
			<div class="headerContainer">
				<div class="headerPhone">Call 444-444-444</div>
				<div class="headerSocialMedia">
					<span class="headerSocialMediaIcon"><img src="~/Resources/Images/layout/facebook-icon.png" /></span>
					<span class="headerSocialMediaIcon"><img src="~/Resources/Images/layout/twitter-icon.png" /></span>
					<span class="headerSocialMediaIcon"><img src="~/Resources/Images/layout/youtube-icon.png" /></span>
				</div>
			</div>
		</div>
		@RenderBody()
	</body>
</html>
