<div class="clearnospcaing"></div>

	<div class="nivo_container">
		<div id="slider" class="nivoSlider">

			<img src="/Resources//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/Template//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/nivo/image6.jpg" alt="" title="#htmlcaption1" />
			<img src="/Resources//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/Template//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/nivo/image7.jpg" alt="" title="#htmlcaption2" />
			<img src="/Resources//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/Template//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/nivo/image9.jpg" alt="" title="#htmlcaption3" />
			<img src="/Resources//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/Template//Resources//Resources/Images/Template/images/Template//Resources/Images/Template/images/nivo/image8.jpg" alt="" title="#htmlcaption4" />

		</div>
		<div id="htmlcaption1" class="nivo-html-caption">
			<p>Get in shape today for<br /><span class="color">Zero Money Down, $19.99 Per Month</span> Limited Time Offer*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button regular action">SIGN UP NOW</a></div>
		</div>
		<div id="htmlcaption2" class="nivo-html-caption">
			<p><span class="color">2 Free Sessions</span><br />with a Personal Trainer with all new Memberships*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button highlight action">JOIN NOW</a></div>
		</div>
		<div id="htmlcaption3" class="nivo-html-caption">
			<p>Still not sure, try us out for free. Get a <span class="color">3 Day Pass</span> and try out all our facilities with no obligation*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button highlight action">REQUEST PASS</a></div>
		</div>
		<div id="htmlcaption4" class="nivo-html-caption">
			<p>Already a Member, refer <span class="color">family and friends</span> and receive additional discounts off your monthly rate*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button regular action">LEARN MORE</a></div>
		</div>
		<div class="clearnospacing"></div>
	</div>
	<!--End Nivo Slider Section-->


<!--Newsletter-->
<div class="newsletterbar">

	<div id="newsletter_wrap">

		<!-- Start Newsletter Left -->
		<div id="newsletter_left">

			<div id="newsletter_headline">Apply now</div>
			<div id="newsletter_sub">Enter your email to start your journey towards the <span class="bold color">true</span> you....</div>

		</div>
		<!-- End Newsletter Left -->
		<!-- Start Newsletter Right -->
		<div id="newsletter_right">
			<input type="text" name="email" style="height: 35px; width: 200px; margin-right: 5px; font-size: 1.1em;"/><input type="submit" value="begin my journey" class="button highlight action" />


		</div>
		<!-- End Newsletter Right -->

	</div>

</div>

<div class="box">
	<div class="grid_12_no_margin">
		<h3>FEATURED SERVICES</h3>
		<ul id="list" class="image-grid threecol portfolio-content">

			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/104201365" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>Group Workouts</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88373689" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>Group Workouts</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88363137" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>Group Workouts</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="7" data-type="graphicdesign">
				<div class="hover_slideshow">
					<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="This is a project with slideshow"><img src="/Resources/Images/Template/images/galleries/image49.jpg" alt="" width="290" height="160" /></a>
					<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="Additional image or video"></a>
					<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="Another image or video"></a>
				</div>
				<div class="text_box">
					<h4>Olympic Size Swimming Pool</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88369458" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>Group Workouts</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="9" data-type="digital_illustration">
				<div class="hover_image">
					<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="A single image"><img src="/Resources/Images/Template/images/galleries/image53.jpg" alt="" width="290" height="160" /></a>
				</div>
				<div class="text_box">
					<h4>Yoga and Pilates</h4>
					<p>Donec sed odio dui null</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->

		</ul>
		<!--End Gallery-->
	</div>	
	<div class="clearnospacing"></div>
</div>
