<div class="box">
	<div class="clearnospcaing"></div>

	<!--Nivo Slider Section-->
	<div class="nivo_container">
		<div id="slider" class="nivoSlider">

			<img src="/Resources/Images/Template/images/nivo/image6.jpg" alt="" title="#htmlcaption1" />
			<img src="/Resources/Images/Template/images/nivo/image7.jpg" alt="" title="#htmlcaption2" />
			<img src="/Resources/Images/Template/images/nivo/image9.jpg" alt="" title="#htmlcaption3" />
			<img src="/Resources/Images/Template/images/nivo/image8.jpg" alt="" title="#htmlcaption4" />

		</div>
		<div id="htmlcaption1" class="nivo-html-caption">
			<p>Get in shape today for<br /><span class="color">Zero Money Down, $19.99 Per Month</span> Limited Time Offer*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button regular action">SIGN UP NOW</a></div>
		</div>
		<div id="htmlcaption2" class="nivo-html-caption">
			<p><span class="color">2 Free Sessions</span><br />with a Personal Trainer with all new Memberships*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button highlight action">JOIN NOW</a></div>
		</div>
		<div id="htmlcaption3" class="nivo-html-caption">
			<p>Still not sure, try us out for free. Get a <span class="color">3 Day Pass</span> and try out all our facilities with no obligation*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button highlight action">REQUEST PASS</a></div>
		</div>
		<div id="htmlcaption4" class="nivo-html-caption">
			<p>Already a Member, refer <span class="color">family and friends</span> and receive additional discounts off your monthly rate*</p>
			<p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
			<div class="nivobutton"><a href="#" class="button regular action">LEARN MORE</a></div>
		</div>
		<div class="clearnospacing"></div>
	</div>
	<!--End Nivo Slider Section-->
	<!--Newsletter-->
	<div class="newsletterbar">

		<div id="newsletter_wrap">

			<!-- Start Newsletter Left -->
			<div id="newsletter_left">

				<div id="newsletter_headline">Sign up for our newsletter</div>
				<div id="newsletter_sub">Receive exclusive promotions, <span class="bold color">free passes</span> for <span class="bold color">family and friends</span>, and links to our weekly ad!</div>

			</div>
			<!-- End Newsletter Left -->
			<!-- Start Newsletter Right -->
			<div id="newsletter_right">

				<!--Form-->


			</div>
			<!-- End Newsletter Right -->

		</div>

	</div>
	<!--End Newsletter-->
	<!--Page Callout Section-->
	<div class="calloutcontainer">
		<div class="text">BALANCE - FITNESS FOR LIFE</div>
		<div class="sub color">ZERO DOWN - ONLY $19.99 A MONTH FOR 3 MONTHS</div>
		<p>
			*Limited time offer. Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis
			egestas dui lobortis dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas sit amet
			consectetur adipiscing elit fusce tincidunt nulla in Valid now through 09-10-2012
		</p>
	</div>
	<!--End Page Callout Section-->
	<!--Start Box-->
	<div class="box">

		<!--Portfolio Thumbnails-->
		<div class="grid_12_no_margin">
			<h3>FEATURED SERVICES</h3>
			<ul id="list" class="image-grid threecol portfolio-content">

				<!--Gallery Thumbnail-->
				<li data-id="1" data-type="digital_illustration">
					<div class="hover_slideshow">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project1]" title="This is a project with slideshow"><img src="/Resources/Images/Template/images/galleries/image58.jpg" alt="" width="290" height="160" /></a>
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project1]" title="Additional image or video"></a>
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project1]" title="Another image or video"></a>
					</div>
					<div class="text_box">
						<h4>Cardio Fitness</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->
				<!--Gallery Thumbnail-->
				<li data-id="5" data-type="graphicdesign">
					<div class="hover_link">
						<a href="#" title="This is a url link"><img src="/Resources/Images/Template/images/galleries/image50.jpg" alt="" width="290" height="160" /></a>
					</div>
					<div class="text_box">
						<h4>Free Weights and Machines</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->
				<!--Gallery Thumbnail-->
				<li data-id="11" data-type="short_film">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="This is a video, it can be Vimeo or Youtube">
							<img src="/Resources/Images/Template/images/galleries/image51.jpg" alt="" width="290" height="160" />
						</a>
					</div>
					<div class="text_box">
						<h4>Group Workouts</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->
				<!--Gallery Thumbnail-->
				<li data-id="7" data-type="graphicdesign">
					<div class="hover_slideshow">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="This is a project with slideshow"><img src="/Resources/Images/Template/images/galleries/image49.jpg" alt="" width="290" height="160" /></a>
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="Additional image or video"></a>
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto[project2]" title="Another image or video"></a>
					</div>
					<div class="text_box">
						<h4>Olympic Size Swimming Pool</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->
				<!--Gallery Thumbnail-->
				<li data-id="8" data-type="digital_illustration">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="A single image"><img src="/Resources/Images/Template/images/galleries/image52.jpg" alt="" width="290" height="160" /></a>
					</div>
					<div class="text_box">
						<h4>Indoor Outdoor Tennis Courts</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->
				<!--Gallery Thumbnail-->
				<li data-id="9" data-type="digital_illustration">
					<div class="hover_image">
						<a href="/Resources/Images/Template/images/placeholder.jpg" rel="prettyPhoto" title="A single image"><img src="/Resources/Images/Template/images/galleries/image53.jpg" alt="" width="290" height="160" /></a>
					</div>
					<div class="text_box">
						<h4>Yoga and Pilates</h4>
						<p>Donec sed odio dui null</p>
					</div>
				</li>
				<!--End Gallery Thumbnail-->

			</ul>
			<!--End Gallery-->
		</div>

		<div class="clearnospacing"></div>

		<div class="container_12">
			<div class="grid_12 nomargin">

				<div class="showbox nomargin boxpadding">
					<h3><img class="imageinset" src="/Resources/Images/Template/images/one.png" alt="" />STRENGTH TRAINING</h3>
					<div class="widget">
						<ul>
							<li><a href="#">Lose Body Fat</a></li>
							<li><a href="#">Muscle Gain</a></li>
							<li><a href="#">Muscular Endurance</a></li>
							<li><a href="#">Proper Nutrition</a></li>
						</ul>
					</div>
				</div>

				<div class="showbox nomargin boxpadding">
					<h3><img class="imageinset" src="/Resources/Images/Template/images/two.png" alt="" />CARDIO FITNESS</h3>
					<div class="widget">
						<ul>
							<li><a href="#">Cardio 101</a></li>
							<li><a href="#">Fat Burning Zone</a></li>
							<li><a href="#">Cardio Workouts</a></li>
							<li><a href="#">Running for Beginners</a></li>
						</ul>
					</div>
				</div>

				<div class="showbox nomargin boxpadding">
					<h3><img class="imageinset" src="/Resources/Images/Template/images/three.png" alt="" />AQUATIC</h3>
					<div class="widget">
						<ul>
							<li><a href="#">Adult Stroke Development</a></li>
							<li><a href="#">Youth Stroke Development</a></li>
							<li><a href="#">Aqua Fit Shallow</a></li>
							<li><a href="#">Aqua Fit Deep</a></li>
						</ul>
					</div>
				</div>

				<div class="showbox nomargin boxpadding">
					<h3><img class="imageinset" src="/Resources/Images/Template/images/four.png" alt="" />MIND &amp; BODY</h3>
					<div class="widget">
						<ul>
							<li><a href="#">Yoga</a></li>
							<li><a href="#">Pilates</a></li>
							<li><a href="#">Sports Massage</a></li>
							<li><a href="#">Relaxation Massage</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="clear"></div>
		</div>

	</div>
	<!--End Box-->
	<!--Footer-->
	<div class="footer">
		<div class="footer_container">

			<div class="footer1">
				<h4>COMPANY</h4>
				<div class="clear"></div>
				<p>Lorem ipsum dolor sit amet <span class="bold">bold font</span> adipiscing elit. Proin vel <span class="italic">"italics mauris con lacinia dapibus"</span> sit amet neque. Praesent scelerisque <span class="underline">underline amet ante suscipit</span> et aliquet magna fringilla. <span class="bold italic">Bold itallic a purus ut</span> justo.</p>
			</div>
			<div class="footer2">
				<h4>RECENT EVENTS</h4>
				<div class="clear"></div>
				<!--Flickr-->
				<ul id="basicuse" class="thumbs">
					<li></li>
				</ul>
			</div>
			<div class="footer3">
				<h4>INFO</h4>
				<div class="clear"></div>
				<p class="highlight"><span class="phone"> 000 011(1234) 458-2300</span></p>
				<p class="highlight"><span class="fax"> 000 011(1234) 458-4300</span></p>
				<p class="highlight"><span class="email bold"> <a href="mailto:contact@balance.com">contact@balance.com</a></span></p>
				<p class="highlight"><span class="mail">44 W 63rd St, New York, NY 10023</span></p>
			</div>
			<div class="footer4">
				<h4>CONTACT</h4>
				<div class="clear"></div>
				<!--Form-->
				<iframe src='contactfooter/contactform.php' frameborder='0'
						width='222' height='200' marginwidth="0" scrolling="no"></iframe>
				<!--End Form-->
			</div>

			<div class="clearnospacing"></div>
		</div>
	</div>

	<!--Copyright Section-->
	<div class="bottombar">
		<div class="bottombar_container">

			<div class="copyright">&copy; Balance. All Rights Reserved. Design by <a href="#" class="bold">ignitethemes</a></div>

			<div class="bottom_nav">
				<div class="crumb_navigation">
					<ul>
						<li><a href="index.html" class="fade">Home</a></li>
						<li><a href="about.html" class="fade">About</a></li>
						<li><a href="services.html" class="fade">Features</a></li>
						<li><a href="gallery1.html" class="fade">Portfolio</a></li>
						<li><a href="blog.html" class="fade">Blog</a></li>
						<li><a href="contact.html" class="fade">Contact</a></li>
					</ul>
				</div>
			</div>

			<p><a href="#top" id="top-link"></a></p>

		</div>
	</div>
	<!--END Copyright Section-->
	<!--End Footer-->
</div>
<!--End Content-->

<script type="text/javascript" src="/Resources/js/custom_filter.js"></script>

<!--Tool Tip-->
<script type="text/javascript">
var tip = $();
$(document).ready(function() {
    //Tooltips
    $(".tip_trigger").hover(function(){
        tip = $(this).find('.tip');
        tip.show(); //Show tooltip
    }, function() {
        tip.hide(); //Hide tooltip
    }).mousemove(function(e) {
        var mousex = e.pageX + 20; //Get X coodrinates
        var mousey = e.pageY + 20; //Get Y coordinates
        var tipWidth = tip.width(); //Find width of tooltip
        var tipHeight = tip.height(); //Find height of tooltip

        //Distance of element from the right edge of viewport
        var tipVisX = $(window).width() - (mousex + tipWidth);
        //Distance of element from the bottom of viewport
        var tipVisY = $(window).height() - (mousey + tipHeight);

        //Absolute position the tooltip according to mouse position
        tip.css({  top: mousey, left: mousex });
    });
});
</script>

<!--Tabs-->
<script type="text/javascript" src="js/tabs.js"></script>

<!--Toggle-->
<script type="text/javascript">
$(function() {
    $(".expand").toggler({initShow: "div.collapse:first", method: "slideFadeToggle"});
    // --- Other options:
    //$(".expand").toggler({method: "toggle", speed: 0});
    //$(".expand").toggler({method: "toggle"});
    //$(".expand").toggler({speed: "fast"});
    //$(".expand").toggler({method: "fadeToggle"});
    //$(".expand").toggler({method: "slideFadeToggle"});
    $("#content").expandAll({trigger: ".expand", ref: "div.demo",  speed: 600, oneSwitch: false});
});
</script>

<!--Coda Slider-->
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.coda-slider-2.0.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#coda-slider-1').codaSlider();
	});
</script>

