<div class="box">
	<div class="clearsmall"></div>
	
	<h1>The Amazing 12 Week Physique</h1>
	
	<p>'The Amazing 12 Week Physique' arrives in  Whickham town centre, Gateshead.</p>
	
	<p>This is the worlds No.1 Body Transformation Program, results are a certainty. This program is like nothing else around and has been tested time and time again for over a decade. No matter your age, fitness level or body type, this program will deliver results and passionately reclaim the person you really are. This program is not just about aesthetics but you will also greatly improve your health and fitness while dramatically increasing your strength levels. A stronger body is a better body and what is good for the body is good for the mind. Hence the Amazing 12 is a complete lifestyle makeover as your mind and body have an inseparable link. You can't change one without the other. </p>

	<p>Do you owe it to yourself to reclaim the strong, healthy, athletic version of yourself that you were suppose to be before pressures of life got in the way? </p>
	
	<p>Take action and look to make a real change in your life in just 12 weeks, however we will coach you the skills and knowledge to maintain for life. You will not regret it. </p>
	
	<p>First wave commencing mid January 2015. Spaces are limited. </p>
	
	<p>Apply for your opportunity to take on the Amazing 12! OR Call us now on 0191 488 4483 for your Free consultation</p>
	
	<a href="/Amazing12/Beta">beta</a>
	
	<h3>Test site - <a href="http://themeforest.net/item/balance-gym-fitness-html-theme/full_screen_preview/2710934">TEMPLATE</a></h3>

</div>