<div class="clearnospcaing"></div>

<div class="nivo_container">
	<div id="slider" class="nivoSlider" style="background-color: black;">

		<img src="/Resources/Images/Photos/transformations/Eve.jpg" alt="" title="#htmlcaption1" />
		<img src="/Resources/Images/Photos/transformations/michellemahony.jpg" alt="" title="#htmlcaption2" />
		<img src="/Resources/Images/Photos/transformations/stevenwally.jpg" alt="" title="#htmlcaption3" />
		<img src="/Resources/Images/Photos/transformations/thomasmcguinness.jpg" alt="" title="#htmlcaption4" />

	</div>
	<div id="htmlcaption1" class="nivo-html-caption">
		<p>The Amazing 12 Week Physique' arrives in <span class="color">Whickham town centre, Gateshead</span>.</p>
		<p class="sub">Do you owe it to yourself to reclaim the strong, healthy, athletic version of yourself that you were suppose to be before pressures of life got in the way? </p>
		<div class="nivobutton"><a href="#" class="button regular action">SIGN UP NOW</a></div>
	</div>
	<div id="htmlcaption2" class="nivo-html-caption">
		<p>First wave commencing mid January 2015. Spaces are <span class="color">limited</span>.</p>
		<p class="sub">Apply for your opportunity to take on the Amazing 12! OR Call us now on 0191 488 4483 for your Free consultation</p>
	</div>
	<div id="htmlcaption3" class="nivo-html-caption">
		<p>Take <span class="color">control</span>.</p>
		<p class="sub">Take action and look to make a real change in your life in just 12 weeks, however we will coach you the skills and knowledge to maintain for life. You will not regret it.</p>
		<div class="nivobutton"><a href="#" class="button regular action">SIGN UP NOW</a></div>
	</div>
	<div id="htmlcaption4" class="nivo-html-caption">
		<p>First wave commencing mid January 2015. Spaces are <span class="color">limited</span>.</p>
		<p class="sub">Apply for your opportunity to take on the Amazing 12! OR Call us now on 0191 488 4483 for your Free consultation</p>
	</div>
	<div class="clearnospacing"></div>
</div>
<!--End Nivo Slider Section-->
<!--Newsletter-->
<div class="newsletterbar">

	<div id="newsletter_wrap">

		<!-- Start Newsletter Left -->
		<div id="newsletter_left">

			<div id="newsletter_headline">Apply now</div>
			<div id="newsletter_sub">Enter your email to start your journey towards the <span class="bold color">true</span> you....</div>

		</div>
		<!-- End Newsletter Left -->
		<!-- Start Newsletter Right -->
		<div id="newsletter_right">
			@using (Html.BeginForm("Amazing12","Contact",FormMethod.Post,new {id = "contactus"}))
			{
				<input type="text" name="email" style="height: 35px; width: 200px; margin-right: 5px; font-size: 1.1em;" /><input type="submit" value="begin my journey" class="button highlight action" />
			}

		</div>
		<!-- End Newsletter Right -->

	</div>

</div>

<!--Page Callout Section-->
<div class="calloutcontainer">
	<div class="text">The Amazing 12 week physique</div>
	<div class="sub color">The worlds No. 1 body transformation program arrives in Whickham, Gateshead.</div>
	<p>
		This program is like nothing else around and has been tested time and time again for over a decade. No matter your age, fitness level or body type, this program will deliver results and passionately reclaim the person you really are. This program is not just about aesthetics but you will also greatly improve your health and fitness while dramatically increasing your strength levels. A stronger body is a better body and what is good for the body is good for the mind. Hence the Amazing 12 is a complete lifestyle makeover as your mind and body have an inseparable link. You can't change one without the other.
	</p>
</div>
<!--End Page Callout Section-->

<div class="box">
	<div class="grid_12_no_margin">
		<h3>Graduates stories</h3>
		<ul id="list" class="image-grid threecol portfolio-content">

			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/104201365" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"Same head on a new body"</h4>
					<p>Jason Kellys remarkable journey.</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88373689" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"...it has completely changed my life"</h4>
					<p>Ladies of the 12 week physique.</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88363137" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"from my past, to where I am now. Im so happy."</h4>
					<p>Neil Fagan; back from the dead.</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88369458" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"I needed to focus and build my confidence..."</h4>
					<p>Susan Barry goes from strength to strength.</p>
				</div>
			</li>

			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/96980685" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"you just have to work slowly towards your goal"</h4>
					<p>Nicci Lyons feats of strength</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->
			<!--Gallery Thumbnail-->
			<li data-id="11" data-type="short_film">
				<div class="hover_image">
					<iframe src="//player.vimeo.com/video/88397516" width="290" height="160" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="text_box">
					<h4>"I'm not on antidepressants any more"</h4>
					<p>Jim McNicholas' life of colour.</p>
				</div>
			</li>
			<!--End Gallery Thumbnail-->

		</ul>
		<!--End Gallery-->
	</div>
	<div class="clearnospacing"></div>
</div>
