html, body {
    overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: "Helvetica";
}

.header {
	width:100%;
	overflow: hidden;
	background: black;
	text-align: center;
	vertical-align: central;
}

.headerContainer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.headerPhone {
	color: white;
	width: 200px;
	display: inline-block;
	float: left;
}

.headerSocialMedia {
	float: right;
}

.headerSocialMediaIcon {
	display: inline-block;
}

