<div class="box">
	<div class="clearsmall"></div>

	<div class="greenbox">
		<h2>Congratulations! you have taken the first step towards becoming the real you.</h2>
	</div>
	<p>&nbsp;</p>
	<p>Please check your email inbox for instructions on how to proceed with your application.</p>
</div>