<div class="box">
	<div class="clearsmall"></div>

	<div class="greenbox">
		<h2>thanks for contacting strong for life!</h2>
	</div>
	<p>&nbsp;</p>
	<p>We will be in touch soon.</p>
	
</div>

